@import "Common.scss";

@mixin font_type_default {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 800;
    letter-spacing: -0.04em;
    line-height: 0.875;
    text-transform: uppercase;
    cursor: default;
}
.pageTitle{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: $fs_48;
    @include font_type_default();
}
#mySidenav a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 0;
    height: 1vw;
    background: #5d8cef;
    left: 50%;
  }

#ham{
    z-index: 9;
    transition: margin-left .5s;
    padding: 16px;
    position: fixed;
    top: 10px;
    left: 30px;
    color: $c_DarkBlack;
}
.sidenav {
    width: 0;height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: $c_DarkBlack;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: $c_cream;
        display: block;
        transition: 0.3s;
        :hover {
            color: $c_red;
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}
section{
    background-size: cover;
    width: 100%;
    position: relative;
    top: 40px;
    background-position: center center;
    text-align: center;
    background-color: $c_cream ;
}
.Slide_Color_Change>p{
    line-height: 40px;
}
#SlideBtn {
    display: none;
}
label {
    width:80px;
    height: 40px;
    border-radius:20px;
    background: $c_cream;
    display: inline-block;
    text-indent: -9999em;
    position: relative;
    transition:0.3s;
    :after{
        content:'';
        width: 30px;
        height:30px;
        position: absolute;
        background: $c_DarkBlack;
        border-radius:50%;
        left: 5px;
        top:5px;
        transition:0.3s;
    }
}
#SlideBtn:checked + label{
    background: $c_DarkBlack;
    :after{
        left: 45px;
        background: $c_cream;
    }
}
#canvas{
    margin-top: 2%;
}
#canvas_img{
    display: none;
}
/********************************************************************************************/
// career
/********************************************************************************************/
.A_sec4{
    article{
        display: flex;
        position: absolute;
        top: 20%;
        .career_L{
            flex: 1;
            text-align: left;
            padding-left: 5%;
            width: 100vw;
            .company{
                display: flex;
                align-items: center;
                padding-left: 5%;
                padding-bottom: 1%;
                .dot{
                    display: block;
                    background-color: $c_DarkBlack;
                    width: 20px; height: 20px;
                    border-radius: 50%;
                }
                h4{
                    padding-left: 3%;
                    font-size: 1.5rem;
                    @include font_type_default();
                }
                h5{
                    padding-left: 3%;
                    font-size: 1rem;
                    @include font_type_default();
                }
            }
            .desc{
                padding-left: 10%;
                padding-bottom: 3%;
            }
            .part{
                padding-left: 3%;
            }
        }
    }
}
@include media_MaxWidth(700px){
    #canvas{
        display: none;
    }
    #canvas_img{
        display: block;
        width: 100vw;
    }
}
@include media_MaxWidth(500px){
    .pageTitle{
        font-size: $f_Size_h1_2;
    }
    .A_sec4 article .career_L .company{
        h4{
            font-size:0.6rem;
        }
        h5{
            font-size:0.6rem;
        }
    }
    p{
        font-size:0.6rem;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}