
@mixin material-shadow() {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  }
  $module-font-size: 14px;
  $bezier: cubic-bezier(.25,.8,.25,1);
  
  .A_sec3 article{
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
  
  // =================================================================================================
  // Walkthrough
  // =================================================================================================
  .walkthrough {
    @include material-shadow();
    background: linear-gradient(to right bottom, #333 , #999);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    font-size: $module-font-size;
    overflow: hidden;
    transition: opacity 0.4s $bezier, transform 0.4s $bezier, box-shadow 0.4s $bezier;
    &.show {
      width: 70vw; height: 70vh;
      opacity: 0;
      transform: translateY(800px);
    }
  
    &.reveal {
      opacity: 1;
      transform: translateY(0);
    }
    .walkthrough-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5%;
      // margin-top: 24px;
  
      .dot {
        background: rgba(black, 0.25);
        border-radius: 8px;
        height: 8px;
        margin: 0 4px;
        transform: scale(0.75);
        transition: transform 0.4s $bezier, background 0.4s $bezier;
        width: 8px;
  
        &.active {
          background: white;
          transform: scale(1);
          transition-delay: 0.4s;
        }
      }
    }
  
    .walkthrough-body {
      display: flex;
      text-align: center;
      flex: 1;
  
      .prev-screen,
      .next-screen {
        align-self: stretch;
        background: none;
        border: 0;
        width: 10%; height: 100%;
        // margin-top: 40px;
        // color: rgba(white, 0.25);
        // cursor: pointer;
        opacity: 1;
        outline: none;
        // padding: 16px;
        transform: scale(1);
        transition: transform 0.4s $bezier, color 0.4s $bezier, opacity 0.4s $bezier;
        z-index: 1000;
        &:hover,
        &:active {
          color: white;
          transform-origin: center;
          // transform: scale(1.25);
        }
        
        &:disabled {
          opacity: 0;
        }
        div{
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          border-top: 5px solid #fff;
          border-right: 5px solid #fff;
          width: 10px; height: 10px;
          
          // display: flex;
        }
        .iconRight{
          transform: translate(-50%, -50%) rotate(45deg);
        }
        .iconLeft{
          transform: translate(-50%, -50%) rotate(225deg);
        }
      }
  
      .prev-screen {
        order: 1;
      }
  
      .next-screen {
        order: 3;
      }
  
      .screens {
        flex: 1;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
  
        .screen {
          display: none;
          width: 80%;
          .media
          {
            img{
                max-width: 80%;
              }
          }
      
          h3 {
            font-size: 15px;
            line-height: 1.4em;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            color: white;
            padding-top: 3%;
          }
      
          p {
            font-size: 13px;
            line-height: 1.6em;
            color: rgba(white, 0.8);
            padding-top: 3%;
          }
        }
      }
    }
    .walkthrough-footer {
      display: flex;
      height: 10%;
      button {
        height: 100%;
        background: #5da3f2;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        border: 0;
        color: white;
        flex: 1;
        font-size: 1rem;
        &:hover {
          background: lighten(#5da3f2, 3%);
        }
        &:active {
          background: #5da3f2;
        }
  
        &:disabled {
          cursor: pointer;
        }
      }
    }
  
    //Animation styles
  
    .screens {
      margin: 0;
  
      .screen {
        opacity: 0;
        position: absolute;
        top: 10%;
        transform: translateX(-72px);
        transition: all 0.5s $bezier;
  
        &.active {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          opacity: 1;
          transform: translateX(0) scale(1);
          transition-delay: 0.5s;
  
          ~ .screen {
            opacity: 0;
            transform: translateX(72px);
          }
        }
      }
    }
  }